# Python cache
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Build artifacts
dist/
build/
.wheel-check/

# Virtual envs
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
notebooks/

# Logs
logs/
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/

# Git
.git/
.gitignore

# Docker related
compose*.yaml
.dockerignore

# Misc
*.tmp

# Environment files
.env
.env.*
